body {
    background-color: red;
}

.card {
    max-width: 30%;
}

.row {
    margin-bottom: 10px;
}

.card-img-top {
    width: 250px;
    height: 250px;
}

.card-body {
    text-align: center;
}

.card-footer {
    text-align: center;
}

.card-title {
    color: blue;
}

ul {
    list-style-position: inside;
}